In [1]:
import pandas as pd
import numpy as np
import os
import time
from collections import defaultdict
from sklearn import linear_model
import math

In [2]:
store_directory = "../Data/Symptoms_Demo/Covariate_balanced/"
directory = "../Data/Symptoms_Demo/Balanced_Data/"

In [3]:
def read_file(filename):
    target = defaultdict()
    data = pd.read_csv(filename)
    cols = list(data.columns)
    #convert all the values from float to int
    data = data[cols].astype(int)
    cols = [i for i in cols if i!= 'virus']
    #create a unique value for each sample by concatenating the values in all columns
    data['set'] = data[cols].astype(str).apply(''.join, axis=1)
    return data

In [4]:
def get_unique(df):
    columns_to_consider = list(df.columns)
    not_consider = ['set','target','virus']
    columns_to_consider = [i for i in columns_to_consider if i not in not_consider]
    print("Number of rows before removing the duplicates : ",df.shape[0])
    new_df = df.drop_duplicates(keep = 'first',subset = columns_to_consider)
    print("Number of unique rows : ",new_df.shape[0])
    return new_df

##### Balance nyumc and goviral

In [272]:
#target dataset
filename_fluwatch = 'nyumc.csv'
data_fluwatch = read_file(directory+filename_fluwatch)

In [273]:
data_fluwatch.head()

,fever,sorethroat,cough,muscle,headache,fatigue,vomit,nausea,diarrhea,chills,...,runnynose,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,male,female,virus,set
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,100000000000000000010010
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,010000000000000000010001
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,100000000000000000010010
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,100000000000000000000101
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,100000000000000000010001

In [274]:
data_fluwatch.shape

(25032, 26)

In [275]:
#source file is honkong. The target dataset distribution is made similar to that of hongkong
filename_hk = 'hongkong.csv'
data_hk = read_file(directory+filename_hk)
data_hk.head()

,fever,sorethroat,cough,muscle,headache,fatigue,vomit,nausea,diarrhea,chills,...,runnynose,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,male,female,virus,set
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,000000000000000000001010
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,000000000000000000010001
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,000000000000000000001010
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,000000000000000000001010
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,000000000000000000100010

In [276]:
#adding a target variable to the datsets for dataset classificaton
data_fluwatch['target'] = 0
data_hk['target'] = 1

In [277]:
def concatenate_datasets(d1,d2):
    return pd.concat([d1,d2])

In [278]:
d1 = concatenate_datasets(data_fluwatch,data_hk)

In [279]:
d1.head()

,fever,sorethroat,cough,muscle,headache,fatigue,vomit,nausea,diarrhea,chills,...,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,male,female,virus,set,target
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,100000000000000000010010,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,010000000000000000010001,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,100000000000000000010010,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,100000000000000000000101,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,100000000000000000010001,0

In [280]:
print("Fuwatch sample points : ",data_fluwatch.shape[0])
print("Hongkong sample points : ",data_hk.shape[0])
print(d1.shape[0])

Fuwatch sample points :  25032
Hongkong sample points :  6884
31916

In [281]:
features = d1.drop(['set','target','virus'],axis = 1)
lm = linear_model.LogisticRegression()
lm.fit(features,d1['target'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [282]:
#get unique columns in nyumc:
unique_fluwatch = get_unique(data_fluwatch)
unique_fluwatch.head()

Number of rows before removing the duplicates :  25032
Number of unique rows :  319

,fever,sorethroat,cough,muscle,headache,fatigue,vomit,nausea,diarrhea,chills,...,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,male,female,virus,set,target
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,100000000000000000010010,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,010000000000000000010001,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,100000000000000000000101,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,100000000000000000010001,0
5,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,101000000000000000001010,0

In [283]:
sum(unique_fluwatch['virus'])

56

In [284]:
coeff = lm.coef_.tolist()[0]
intercept = lm.intercept_.tolist()[0]
unique_features = unique_fluwatch.drop(['set','target','virus'],axis = 1)
unique_features.head()

,fever,sorethroat,cough,muscle,headache,fatigue,vomit,nausea,diarrhea,chills,...,earache,leg pain,runnynose,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,male,female
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
5,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [285]:
#convert the dataframe to a matrix
features = unique_features.as_matrix()
# predict on the examples
theta_x = list(np.dot(features,np.array(coeff)) + intercept)
#get the exponential of the prediction
exp_theta = [math.exp(i) for i in theta_x]

In [286]:
new_exp_theta = []
for i in range(len(exp_theta)):
    if exp_theta[i] >= 0.1:
        new_exp_theta.append(exp_theta[i])
    else:
        new_exp_theta.append(0)

In [287]:
len(exp_theta)

319

In [288]:
len(new_exp_theta)

319

In [289]:
print(new_exp_theta)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.7283953552874679, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.14462153999671243, 0, 3.080198997384652, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.14350261697377573, 0, 0, 0, 0.7227598300894246, 0.13176060068556672, 0.500611244340948, 0, 0, 0, 0, 0.24177157593866133, 0, 0.2290893260074053, 0, 0.1910739433691947, 0.34804847112131065, 0, 0, 0.18959562254420587, 0, 0, 0, 0, 0.3307487880309075, 0.5045146257471312, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1.0485802096272303, 0, 0, 0, 1.1793712732876158, 0, 0.13278796849761154, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.32818981629167276, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1.0404674448345557, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4.987261639101335, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.22731688380284457, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 17.924160039540403, 0.23990101237934913, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1.022390602021984, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.10978331361060858, 0, 0.7206677523713904, 0, 0, 3.0563677923409305, 0, 0, 0, 0, 0, 1.7110322481802214, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5397029594603856, 0, 0, 0, 0, 0, 66.57985931985773, 0.10842194464232398, 0, 0, 0, 0, 0, 0, 0, 0, 0, 12.451002603674763, 0, 0, 0]

In [290]:
min_pred = [i for i in new_exp_theta if i != 0]
print(min_pred)

[0.7283953552874679, 0.14462153999671243, 3.080198997384652, 0.14350261697377573, 0.7227598300894246, 0.13176060068556672, 0.500611244340948, 0.24177157593866133, 0.2290893260074053, 0.1910739433691947, 0.34804847112131065, 0.18959562254420587, 0.3307487880309075, 0.5045146257471312, 1.0485802096272303, 1.1793712732876158, 0.13278796849761154, 0.32818981629167276, 1.0404674448345557, 4.987261639101335, 0.22731688380284457, 17.924160039540403, 0.23990101237934913, 1.022390602021984, 0.10978331361060858, 0.7206677523713904, 3.0563677923409305, 1.7110322481802214, 0.5397029594603856, 66.57985931985773, 0.10842194464232398, 12.451002603674763]

In [291]:
minimum_pred = min(min_pred)

In [292]:
threshold = 1/minimum_pred

In [293]:
threshold

9.223225088785545

In [294]:
counts = data_fluwatch['set'].value_counts().to_dict()

In [295]:
occur = []
for i in range(unique_fluwatch.shape[0]):
    x = list(unique_fluwatch.iloc[i,:]) 
    temp = new_exp_theta[i] * threshold * counts[x[-2]]
    occur.append(temp)

In [296]:
unique_fluwatch['occur'] = occur

/Users/GoViral/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [297]:
unique_fluwatch.head()

,fever,sorethroat,cough,muscle,headache,fatigue,vomit,nausea,diarrhea,chills,...,age 5-15,age 16-44,age 45-64,age 65+,male,female,virus,set,target,occur
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,100000000000000000010010,0,0.0
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,010000000000000000010001,0,0.0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,100000000000000000000101,0,0.0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,100000000000000000010001,0,0.0
5,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,101000000000000000001010,0,0.0

In [298]:
def duplicate_rows(dataframe,columns_to_consider=['fever', 'sorethroat', 'cough', 'muscle', 'headache', 'fatigue',
       'vomit', 'nausea', 'diarrhea', 'chills', 'sneeze',
       'shortness of breath', 'phlegm', 'blockednose', 'earache', 'leg pain',
       'runnynose', 'virus','age 0-4', 'age 5-15', 'age 16-44', 'age 45-64', 'age 65+',
       'male', 'female']):
    new_df = pd.DataFrame()
    for i in range(dataframe.shape[0]):
        ocurrence = int(dataframe.iloc[i]['occur'])
        temp = dataframe.iloc[i][:]
        if ocurrence!= 0:
            new_df = new_df.append([temp] * ocurrence)
    new_df = new_df.sample(frac=1).reset_index(drop=True)
    new_df = new_df[columns_to_consider]
    print(len(new_df))
    return new_df

In [299]:
new_fluwatch = duplicate_rows(unique_fluwatch)

2569

In [300]:
new_fluwatch.head()

,fever,sorethroat,cough,muscle,headache,fatigue,vomit,nausea,diarrhea,chills,...,leg pain,runnynose,virus,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,male,female
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [301]:
new_fluwatch.shape

(2569, 25)

In [302]:
new_fluwatch.to_csv(store_directory+'nyumc.csv',index=False)

In [303]:
sum(list(new_fluwatch['virus']))

350

In [304]:
new_fluwatch['virus'].value_counts()

0    2219
1     350
Name: virus, dtype: int64