In [1]:
import pandas as pd
import numpy as np
import time
from collections import defaultdict
import os
import matplotlib.pyplot as plt

In [2]:
def get_files(filename):
    data_files_ = []
    print("The data files are :\n")
    for fn in os.listdir(filename):
        if fn[-4:] == '.csv':
            data_files_.append(fn)
    print("\n",data_files_,"\n")
    print("Enter the number to analyze the file :")
    no = int(input())
    return data_files_[no]

In [3]:
def read_file(filename):
    print("\n---------------------------------\n")
    print("The file being analyzed is :\t",filename)
    data = pd.read_csv(filename)
    print("\n---------------------------------\n")
#     print("The features of this data are :\n",data.columns)
#     print("\n---------------------------------\n")
    return data

In [4]:
def select_dataset(filename_):
    data_file = get_files(filename_)
    filename = filename_+data_file
    data = read_file(filename)
    if 'muscles' in data.columns:
        data = data.rename(columns={'muscles': 'muscle'})
    return data

In [5]:
#choose the dataset to be analyzed
filename_ = "../Data/cleaned data files/"

In [9]:
#get the NYUMC dataset!
data_lb = select_dataset(filename_)
print("LB Dataset!\n")
data_lb.head()

The data files are :


 ['fw_fit.csv', 'loeb_new.csv', 'wnyc_fit.csv', 'gv_fit_some_missing_values.csv', 'nigeria.csv', 'hk_fit.csv', 'nyumc_new.csv', 'loeb_fit.csv']

Enter the number to analyze the file :
1

---------------------------------

The file being analyzed is :	 ../Data/cleaned data files/loeb_new.csv

---------------------------------

LB Dataset!

,Unnamed: 0,age.0.4,age.16.44,age.45.64,age.5.15,chills,cough,fever,headache,male,muscle,runnynose,sinus,sorethroat,pos,neg
0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,3
1,2,0,0,1,0,1,1,0,1,0,0,1,1,1,0,2
2,4,0,0,1,0,0,1,0,0,0,0,1,1,0,0,4
3,6,0,0,1,0,0,1,0,0,0,1,1,1,0,0,3
4,9,0,1,0,0,0,1,0,0,0,0,0,0,0,1,5

In [9]:
#Get the goviral dataset
data_gv = select_dataset(filename_)
print("GoViral Dataset!\n")
data_gv.head()

The data files are :


 ['fw_fit.csv', 'gv_fit_some_missing_values.csv', 'hk_fit.csv', 'loeb_fit.csv', 'nigeria.csv', 'nyumc_new.csv', 'wnyc_fit.csv']

Enter the number to analyze the file :
1

---------------------------------

The file being analyzed is :	 ../Data/cleaned data files/gv_fit_some_missing_values.csv

---------------------------------

GoViral Dataset!

,Unnamed: 0,virus,age,fever,cough,runnynose,sorethroat,muscle,fatigue,chills,shortness of breath,leg pain,nausea,diarrhea,vomit,male,female
0,0,1,33.0,0,0,0,1,1,1,1,0,1,0,1,0,1.0,NaN
1,1,1,33.0,0,0,0,1,1,1,1,0,1,0,1,0,1.0,NaN
2,2,1,30.0,1,1,1,0,1,1,1,0,0,0,0,0,NaN,1.0
3,3,1,30.0,1,1,1,0,1,1,1,0,0,0,0,0,NaN,1.0
4,4,1,33.0,0,1,1,0,1,1,1,0,0,0,0,0,1.0,NaN

In [11]:
#Get the FluWatch Dataset
data_fw = select_dataset(filename_)
print("FluWatch dataset!\n")
data_fw.head()

The data files are :


 ['fw_fit.csv', 'gv_fit_some_missing_values.csv', 'hk_fit.csv', 'loeb_fit.csv', 'nigeria.csv', 'nyumc_new.csv', 'wnyc_fit.csv']

Enter the number to analyze the file :
0

---------------------------------

The file being analyzed is :	 ../Data/cleaned data files/fw_fit.csv

---------------------------------

FluWatch dataset!

,Unnamed: 0,fever,cough,sorethroat,runnynose,blockednose,sneeze,diarrhea,muscle,headache,flu,age 0-4,age 45-64,age 16-44,age 5-15,age 65+,male,female
0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,4,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [13]:
#Get the hongkong dataset
data_hk = select_dataset(filename_)
print("HongKong Dataset!\n")
data_hk.head()

The data files are :


 ['fw_fit.csv', 'gv_fit_some_missing_values.csv', 'hk_fit.csv', 'loeb_fit.csv', 'nigeria.csv', 'nyumc_new.csv', 'wnyc_fit.csv']

Enter the number to analyze the file :
2

---------------------------------

The file being analyzed is :	 ../Data/cleaned data files/hk_fit.csv

---------------------------------

HongKong Dataset!

,Unnamed: 0,headache,sorethroat,cough,muscle,runnynose,phlegm,male,flu,fever,age 5-15,age 16-44,age 0-4,age 65+,age 45-64,gender,female
0,0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
2,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
3,3,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In [14]:
#Get the hutterite dataset
data_ht = select_dataset(filename_)
print("Loeb dataset!\n")
data_ht.head()

The data files are :


 ['fw_fit.csv', 'gv_fit_some_missing_values.csv', 'hk_fit.csv', 'loeb_fit.csv', 'nigeria.csv', 'nyumc_new.csv', 'wnyc_fit.csv']

Enter the number to analyze the file :
3

---------------------------------

The file being analyzed is :	 ../Data/cleaned data files/loeb_fit.csv

---------------------------------

Loeb dataset!

,RID,virus,chills,cough,fatigue,fever,headache,muscle,runnynose,blockednose,sorethroat,female,male,age 45-64,age 16-44,age 5-15,age 65+,age 0-4,earache
0,1,0.0,0,0,0,0,1,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0,1,0,0,1,1,1,1,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0,0,0,0,1,0,1,1,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,0.0,0,1,0,0,0,0,1,0,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5,0.0,0,1,0,0,0,0,1,0,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [7]:
GENDER_DEMOGRAPHICS = ['male','female']
AGE_DEMOGRAPHICS = ['age 0-4','age 5-15','age 16-44','age 45-64','age 65+']

In [8]:
def check_demographics_in_dataset(dataset):
    not_present_gender = []
    not_present_age = []
    columns = dataset.columns
    
    #check if the gender demographics are as expected!
    for i in GENDER_DEMOGRAPHICS:
        if i not in columns:
            not_present_gender.append(i)
            
    #check if the age demographics are as expected!        
    for i in AGE_DEMOGRAPHICS:
        if i not in columns:
            not_present_age.append(i)
    
    return not_present_gender,not_present_age

### Check if the demographic information is present in all the datasets

#### Loeb new

In [11]:
gender_lb,age_lb = check_demographics_in_dataset(data_lb)
print("The genders not present are :",gender_lb)
print("The ages not present are : ",age_lb)

The genders not present are : ['female']
The ages not present are :  ['age 0-4', 'age 5-15', 'age 16-44', 'age 45-64', 'age 65+']

In [12]:
data_lb.head()

,Unnamed: 0,age.0.4,age.16.44,age.45.64,age.5.15,chills,cough,fever,headache,male,muscle,runnynose,sinus,sorethroat,pos,neg
0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,3
1,2,0,0,1,0,1,1,0,1,0,0,1,1,1,0,2
2,4,0,0,1,0,0,1,0,0,0,0,1,1,0,0,4
3,6,0,0,1,0,0,1,0,0,0,1,1,1,0,0,3
4,9,0,1,0,0,0,1,0,0,0,0,0,0,0,1,5

In [14]:
data_lb['age 0-4'] = data_lb['age.0.4']
data_lb['age 5-15'] = data_lb['age.5.15']
data_lb['age 16-44'] = data_lb['age.16.44']
data_lb['age 45-64'] = data_lb['age.45.64']
data_lb['age 65+'] = 0
data_lb['virus'] = np.where(data_lb['pos']>0,1,0)
data_lb['female'] = np.where(data_lb['male']==0,1,0)
data_lb.head()

,Unnamed: 0,age.0.4,age.16.44,age.45.64,age.5.15,chills,cough,fever,headache,male,...,sorethroat,pos,neg,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,virus,female
0,1,0,0,1,0,0,0,0,0,0,...,1,0,3,0,0,0,1,0,0,1
1,2,0,0,1,0,1,1,0,1,0,...,1,0,2,0,0,0,1,0,0,1
2,4,0,0,1,0,0,1,0,0,0,...,0,0,4,0,0,0,1,0,0,1
3,6,0,0,1,0,0,1,0,0,0,...,0,0,3,0,0,0,1,0,0,1
4,9,0,1,0,0,0,1,0,0,0,...,0,1,5,0,0,1,0,0,1,1

In [16]:
data_lb.drop(['age.0.4','age.5.15','age.16.44','age.45.64'],axis = 1,inplace =  True)

In [17]:
data_lb.head()

,Unnamed: 0,chills,cough,fever,headache,male,muscle,runnynose,sinus,sorethroat,pos,neg,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,virus,female
0,1,0,0,0,0,0,0,0,0,1,0,3,0,0,0,1,0,0,1
1,2,1,1,0,1,0,0,1,1,1,0,2,0,0,0,1,0,0,1
2,4,0,1,0,0,0,0,1,1,0,0,4,0,0,0,1,0,0,1
3,6,0,1,0,0,0,1,1,1,0,0,3,0,0,0,1,0,0,1
4,9,0,1,0,0,0,0,0,0,0,1,5,0,0,1,0,0,1,1

In [18]:
data_lb['sum'] = data_lb['pos'] + data_lb['neg']
data_lb.head()

,Unnamed: 0,chills,cough,fever,headache,male,muscle,runnynose,sinus,sorethroat,pos,neg,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,virus,female,sum
0,1,0,0,0,0,0,0,0,0,1,0,3,0,0,0,1,0,0,1,3
1,2,1,1,0,1,0,0,1,1,1,0,2,0,0,0,1,0,0,1,2
2,4,0,1,0,0,0,0,1,1,0,0,4,0,0,0,1,0,0,1,4
3,6,0,1,0,0,0,1,1,1,0,0,3,0,0,0,1,0,0,1,3
4,9,0,1,0,0,0,0,0,0,0,1,5,0,0,1,0,0,1,1,6

In [23]:
def duplicate_rows(dataframe,columns_to_consider):
    new_df = pd.DataFrame()
    for i in range(dataframe.shape[0]):
        new_df = new_df.append([dataframe.iloc[i][:]]*dataframe.iloc[i]['sum'],ignore_index=True)
    new_df = new_df.sample(frac=1).reset_index(drop=True)
    new_df = new_df[columns_to_consider]
    return new_df

In [21]:
print(list(data_lb.columns))

['Unnamed: 0', 'chills', 'cough', 'fever', 'headache', 'male', 'muscle', 'runnynose', 'sinus', 'sorethroat', 'pos', 'neg', 'age 0-4', 'age 5-15', 'age 16-44', 'age 45-64', 'age 65+', 'virus', 'female', 'sum']

In [22]:
data_lb.shape

(256, 20)

In [24]:
colums_to_consider = ['chills', 'cough', 'fever', 'headache', 'male', 'muscle', 'runnynose', 'sinus', 'sorethroat',  'age 0-4', 'age 5-15', 'age 16-44', 'age 45-64', 'age 65+', 'virus', 'female']

In [25]:
data_lb = duplicate_rows(data_lb,colums_to_consider)
data_lb.head()

,chills,cough,fever,headache,male,muscle,runnynose,sinus,sorethroat,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,virus,female
0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1
1,0,1,0,0,1,0,1,0,1,0,1,0,0,0,1,0
2,1,0,0,1,1,1,0,1,1,0,1,0,0,0,1,0
3,0,1,1,0,1,0,1,0,1,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1

In [26]:
data_lb.shape

(1236, 16)

In [28]:
data_lb.to_csv("../Data/Symptoms_Demo/With_Demographics/loeb.csv",index=False)

#### NYUMC

In [19]:
gender_nyumc,age_nyumc = check_demographics_in_dataset(data_nyumc)
print("The genders not present are :",gender_nyumc)
print("The ages not present are :",age_nyumc)

The genders not present are : ['female']
The ages not present are : []

In [20]:
data_nyumc['female'] = np.where(data_nyumc['male'] == 1,0,1)

In [21]:
data_nyumc.head()

,Unnamed: 0,flu,fever,sorethroat,cough,muscle,headache,fatigue,vomit,nausea,diarrhea,male,age 0-4,age 5-15,age 16-44,age 45-64,age 65+,female
0,3,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0
1,4,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1
2,6,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,8,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
4,9,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1

NYUMC now has all the age and gender demographics

#### GoViral

In [25]:
gender_gv,age_gv = check_demographics_in_dataset(data_gv)
print("The genders not present are :",gender_gv)
print("The ages not present are :",age_gv)
data_gv.head()

The genders not present are : []
The ages not present are : ['age 0-4', 'age 5-15', 'age 16-44', 'age 45-64', 'age 65+']

,Unnamed: 0,virus,age,fever,cough,runnynose,sorethroat,muscle,fatigue,chills,shortness of breath,leg pain,nausea,diarrhea,vomit,male,female
0,0,1,33.0,0,0,0,1,1,1,1,0,1,0,1,0,1.0,NaN
1,1,1,33.0,0,0,0,1,1,1,1,0,1,0,1,0,1.0,NaN
2,2,1,30.0,1,1,1,0,1,1,1,0,0,0,0,0,NaN,1.0
3,3,1,30.0,1,1,1,0,1,1,1,0,0,0,0,0,NaN,1.0
4,4,1,33.0,0,1,1,0,1,1,1,0,0,0,0,0,1.0,NaN

In [30]:
data_gv['age 0-4'] = np.where(data_gv['age'].isin([0.0,1.0,2.0,3.0,4.0]),1,0)
data_gv['age 5-15'] = np.where(((data_gv['age']>=5.0) & (data_gv['age']<16.0)),1,0)
data_gv['age 16-44'] = np.where(((data_gv['age']>=16.0) & (data_gv['age']<44.0)),1,0)
data_gv['age 45-64'] = np.where(((data_gv['age']>=45.0) & (data_gv['age']<65.0)),1,0)
data_gv['male'] = data_gv['male'].fillna(0)
data_gv['female'] = data_gv['female'].fillna(0)
data_gv['age 65+'] = np.where(data_gv['age']>=65,1,0)
data_gv.head()

,Unnamed: 0,virus,age,fever,cough,runnynose,sorethroat,muscle,fatigue,chills,...,nausea,diarrhea,vomit,male,female,age 0-4,age 5-15,age 16-44,age 45-64,age 65+
0,0,1,33.0,0,0,0,1,1,1,1,...,0,1,0,1.0,0.0,0,0,1,0,0
1,1,1,33.0,0,0,0,1,1,1,1,...,0,1,0,1.0,0.0,0,0,1,0,0
2,2,1,30.0,1,1,1,0,1,1,1,...,0,0,0,0.0,1.0,0,0,1,0,0
3,3,1,30.0,1,1,1,0,1,1,1,...,0,0,0,0.0,1.0,0,0,1,0,0
4,4,1,33.0,0,1,1,0,1,1,1,...,0,0,0,1.0,0.0,0,0,1,0,0

GoViral now has all the age and gender demographics

#### FluWatch

In [33]:
gender_fw,age_fw = check_demographics_in_dataset(data_fw)
print("The genders not present are :",gender_fw)
print("The age groups not present are :",age_fw)
data_fw.head()

The genders not present are : []
The age groups not present are : []

,Unnamed: 0,fever,cough,sorethroat,runnynose,blockednose,sneeze,diarrhea,muscle,headache,flu,age 0-4,age 45-64,age 16-44,age 5-15,age 65+,male,female
0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,4,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0

Fluwatch has all the age and gender demographics

#### HongKong

In [34]:
gender_hk,age_hk = check_demographics_in_dataset(data_hk)
print("The genders not present are :",gender_hk)
print("The age groups not present are :",age_hk)
data_hk.head()

The genders not present are : []
The age groups not present are : []

,Unnamed: 0,headache,sorethroat,cough,muscle,runnynose,phlegm,male,flu,fever,age 5-15,age 16-44,age 0-4,age 65+,age 45-64,gender,female
0,0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
2,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
3,3,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1

HongKong has all the age and gender demographics

#### Hutterite

In [35]:
gender_ht,age_ht = check_demographics_in_dataset(data_ht)
print("The genders not present are :",gender_ht)
print("The age groups not present are :",age_ht)
data_ht.head()

The genders not present are : []
The age groups not present are : []

,RID,virus,chills,cough,fatigue,fever,headache,muscle,runnynose,blockednose,sorethroat,female,male,age 45-64,age 16-44,age 5-15,age 65+,age 0-4,earache
0,1,0.0,0,0,0,0,1,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0,1,0,0,1,1,1,1,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0,0,0,0,1,0,1,1,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,0.0,0,1,0,0,0,0,1,0,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5,0.0,0,1,0,0,0,0,1,0,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

Hutterite has all the age and gender demographics

### Save the cleaned files

In [36]:
def save_file(dataframe_,filename_):
    directory = "../Cleaned_Data/"
    filename = directory+filename_
    if os.path.isfile(filename):
        print("File exists!")
    else:
        dataframe_.to_csv(filename,index=False)

In [37]:
save_file(data_nyumc,"nyumc.csv")

In [38]:
save_file(data_gv,"goviral.csv")

In [39]:
save_file(data_fw,"fluwatch.csv")

In [40]:
save_file(data_hk,"hongkong.csv")

In [41]:
save_file(data_ht,"hutterite.csv")